.content_post {

    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 3%;
    float: left;

    width: 86%;
    padding: 3%;
    min-height: 5vh;

    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);

    transition: 0.3s;
}

.content_post:hover {

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--accent-color);
}

.content_post_avatar {

    height: 2vw;
    min-height: 30px;
    width: 2vw;
    min-width:30px;

    border-radius: 50%;
    float: left;
}

.content_post_title {

    float: left;
    height: 2vw;
    width: 26.96vw;
    margin-left: 0.5vw;
    overflow: hidden;
}

.content_post_paragraph {

    float: left;
    margin: 0;
    margin-top: 1%;
    width: 100%;
}

.content_post_expand {

    width: 3%;
    min-width: 15px;
    float: right;
    bottom: 0;
}