html, body {

    font-family: 'Quicksand', sans-serif;
    background-color: rgb(27, 27, 27);
    color: lightgrey;
}

.sidebar {

    background-color: rgb(19, 19, 19);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.post {

    background-color: rgb(19, 19, 19);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.navbar {

    background-color: rgb(27, 27, 27);
}

.nav-item {

    color: lightgrey;
}