.form_container {

    margin-top: 4vh;
}

.form_field_container {

    float: left;
    margin-bottom: 1vh;
    width: 36%;
    padding: 1.5%;
    margin-left: 30%;
    border-radius: 7px;

    transition: 0.3s;
}

.form_field_container:hover {

    box-shadow: 0px 0px 10px var(--accent-color);
}

.form_field_container:hover > .form_field {

    border-bottom: 1px solid transparent;
}

.form_field {

    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;

    padding: 0;
    width: 100%;
    height: 3vh;
    border: 0;
    border-bottom: 1px solid var(--accent-color);
    outline: none;

    transition: 0.3s;
}

#form_button {

    font-family: 'Quicksand', sans-serif;
    font-size: large;

    width: 20%;
    min-width: 70px;
    margin-left: 40%;
    padding: 0;
    height: 4vh;

    background-color: var(--accent-color);

    border: 0;
    border-radius: 5px;

    transition: 0.3s;
}

#form_button:hover {

    box-shadow: 0px 0px 10px var(--accent-color);
}