.panel_container {

    display: inline-block;
    width: 88%;
    padding: 6%;
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 3%;
}

.panel_avatar {

    height: 8vh;
    min-height: 50px;
    width: 8vh;
    min-width:50px;

    border-radius: 50%;
    float: left;
}

.panel_name {

    font-weight: bold;
    font-size: x-large;
    margin-top: 0;
    margin-left: 10vh;
}

.panel_text {

    margin-left: 10vh;
    font-size: large;
}